/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Contenedor del formulario de inicio de sesión */
form {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las etiquetas */
form label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los campos de entrada */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Efecto hover para los campos de entrada */
form input:focus {
  outline: none;
  border-color: #cc2366; /* Morado estilo Instagram */
}

/* Estilos para el botón de inicio de sesión */
form button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(
    90deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Efecto hover para el botón */
form button:hover {
  background: linear-gradient(
    90deg,
    #bc1888 0%,
    #cc2366 25%,
    #dc2743 50%,
    #e6683c 75%,
    #f09433 100%
  );
}

/* Estilos para el mensaje de error */
form p {
  color: red;
  text-align: center;
  font-weight: bold;
}
